.top-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.container {
  width: 220px;
  height: 310px;
  transition: all 0.1s;
}

.card {
  width: 220px;
  height: 310px;
  background-image: url(soobin_park.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s;
}
