body {
  background-color: grey;
  font-family: "Gaegu", sans-serif;
}

.top-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
}

.container {
  width: 220px;
  height: 310px;
  transition: all 0.1s;
  position: relative;
}

.overlay {
  position: absolute;
  width: 220px;
  height: 310px;
  background: linear-gradient(
    105deg,
    transparent 40%,
    rgba(255, 219, 112, 0.8) 45%,
    rgba(132, 50, 255, 0.6) 50%,
    transparent 54%
  );
  filter: brightness(1.2) opacity(0.8);
  mix-blend-mode: color-dodge;
  background-size: 150% 150%;
  background-position: 100%;
}

.card {
  width: 220px;
  height: 310px;
  background-image: url(soobin_park.png);
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  transition: all 0.1s;
}

.custom-button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #fff;
  background-color: #3498db;
  border: 2px solid #3498db;
}

.custom-button:hover {
  background-color: #2980b9;
  border: 2px solid #2980b9;
}
